.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FFFFFF;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}


.Map {
  margin-bottom: 80px;
}

.Map-Title {
  color: #1F4A70;
  font-size: 17px;
  font-weight: 500;
  font-family: Inter;
}

.Map-Subtitle {
  color: #1F4A70;
  font-size: 30px;
  font-weight: 300;
  font-family: Inter;
}

.Map-Title-Wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.Map-Title-Wrapper-China {
  margin-top: 30px;
  margin-bottom: 10px;
}

.China-Back-Button-Wrapper {
  text-align: left;
}

.China-Back-Button {
  margin-top: 40px;
  width: 100px;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Inter/Inter-Light.woff2?v=3.12") format("woff2"),
       url("/fonts/Inter/Inter-Light.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter/Inter-Medium.woff2?v=3.12") format("woff2"),
       url("/fonts/Inter/Inter-Medium.woff?v=3.12") format("woff");
}

.text {
  width: 100%;
  line-height: 1.5;
  word-break: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-user-select: text;
  box-sizing: border-box;
  color: rgb(52, 53, 52);
  display: block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 12px;
  unicode-bidi: plaintext;
  white-space: pre-line;
  word-break: break-word;
}

.Countries-Table-Wrapper {
  width: 100%;
  background-color: #F9F9F9;
}

.Countries-Table {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 500px;
  text-align: left;
}

.Editor {
  width: 100%;
  margin: auto;
}

.Editor-Wrapper {
  margin-bottom: 30px;
}

.Editor-Text-View {
  width: 540px;
  min-height: 400px;
  text-align: left;
  background-color: #F8F9FA;
  padding: 20px;
  border-radius: 10px;
  
}

.toast {
  width: 220px;
  float: right;
  margin-top: 10px;
}

.Card-Shadow {
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.Card-Shadow:hover {
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
}

.Editor-ToolBar {
  margin: auto;
  width: 570px;
}

.variable-editor {
  width: 380px;
}

.Diff {
  width: 1200px;
}

.Diff span {
  font-size: 12px;
}